= link_to edit_post_comment_path(post_id: post.id, id: comment.id), remote: true do
  i.fa.fa-edit.mr-2.ml-2
= link_to post_comment_path(post_id: post.id, id: comment.id), :data => { :title=>'削除の確認', confirm: "本当に削除してもよろしいですか？", cancel: "やめる", commit: "削除する" }, method: :delete, remote: true do
  i.fa.fa-trash
