@import 'bootswatch/dist/lux/variables';

// Global styling for this template
body {
  overflow-x: hidden;
}

[type="button"] {
  -webkit-appearance : none;
}

p {
  line-height: 1.75;
}

nav {
  a {
    color: $yellow;
    &:hover {
      color: darken($yellow, 10%);
    }
}
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
  }
}
@media(min-width:768px) {
  section {
    padding: 100px 0 150px 0;
  }
}

// Button Styles
.btn {
  font-weight: 700;
  color: $white;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

// .btn-primary {
//   background-color: $yellow;
//   border-color: $yellow;
//   &:active,
//   &:focus,
//   &:hover {
//     background-color: darken($yellow, 7.5%) !important;
//     border-color: darken($yellow, 7.5%) !important;
//     color: white;
//   }
//   &:active,
//   &:focus {
//     box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
//   }
// }

// Highlight color customization
// ::-moz-selection {
//   background: $yellow;
//   text-shadow: none;
// }
//
// ::selection {
//   background: $yellow;
//   text-shadow: none;
// }
//
// img::selection {
//   background: transparent;
// }
//
// img::-moz-selection {
//   background: transparent;
// }
//
// body {
//   -webkit-tap-highlight-color: $yellow;
// }
