#post_pages
  .music-wrapper
    .jumbotron
      background: url("music2.jpg")
      background-size: cover
      background-position: center 60%
      height: 23rem
      position: relative
      .container
        position: absolute
        top: 80%
        right: 5%
