#users
  .user_post
    max-width: 1400px
  .user_name
    font-size: 1rem
    margin-top: 1rem
  .user_profile_content
    border: 1px solid #dfdfdf
    padding: 1rem
    background: white
  .card-body
    padding: 1.5rem 1.5rem 0 1.5rem
  .user_content
    display: flex
    justify-content: space-around
    padding: 0.75rem 0 0.2rem 0
    margin-top: -2rem
    a
      &:hover
        text-decoration: none
        color: #2196f3
        border-bottom: 4px solid #2196f3
        padding-bottom: 0.4rem
    p
      font-size: 14px
    .number_count
      display: block
      margin-top: 0.6rem
      font-size: 16px
      color: #2196f3
    .user_current
      border-bottom: 4px solid #2196f3
      padding-bottom: 0.4rem

    // a
    //   text-decoration: underline
    .post_icon
      align-self: center
      .font-icon
        &:after
          content: '\f040'
          font-family: FontAwesome
          margin-left: 0.25rem
    .new_post
      padding: 0.7rem
      color: #fff
      background: #4CAF50

      &:hover
        color: #4CAF50
        background: #fff
        border-color: #4CAF50
      .fa
        font-size: 22px

  .profile_txt
    background: rgb(237, 237, 237)
    padding: 1.2rem

  .show_icon
    padding: 0.3rem
    color: #1f9bcf
    background: #fff

    &:hover
      color: #fff
      background: #1f9bcf
      border-color: #fff
    .fa
      font-size: 17px

  .edit_icon
    padding: 0.3rem
    color: #fd7d14
    background: #fff

    &:hover
      color: #fff
      background: #fd7d14
      border-color: #fff
    .fa
      font-size: 17px
  .delete_icon
    padding: 0.3rem
    color: #d9534f
    background: #fff

    &:hover
      color: #fff
      background: #d9534f
      border-color: #fff
    .fa
      font-size: 17px

  .follow_btn
    .btn-sm

  .follow_list
    background: white
    padding: 1rem
    border: 1px solid #dfdfdf
    margin-top: 2rem
    .follow_profile
      align-self: center
  @media screen and (max-width: 991px)
    .user_content
      margin-top: 0.75rem
